<main>
    <div class="row">
        {{> header_res}}

        {{#with main}}
        <section class="ms-5 my-5">
            <div>
                {{> title big=true data='My educationss'}}
            </div>
            <ul>
                {{#each educations}}
                <li>
                    {{name}}
                    {{#unless isEnd}} (в процесі вивчення) {{/unless}}
                </li>
                {{/each}}
            </ul>
        </section>

        <section class="ms-5">
            <div>
                {{> title big=false data='My certificats'}}
            </div>
            <ul>
                {{#each certificates}}
                <li>
                    {{name}}
                    {{#if isID}} {{id}}
                    {{else}} ({{id}})
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </section>
        {{/with}}

        {{>footer}}
    </div>
</main>