<main>
    <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{category}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">MacBook</li>
        </ol>

    </div>
    <h1>{{name}} <span class="badge bg-secondary">{{price}}</span></h1>
    {{> descr}}
    {{!-- <div>Description: <em>{{description}}</em></div> --}}
    <div>
        <ul>
            {{#with features}}
            {{> title big=true data='Features'}}
            <li class="my-2">
                <div>
                    {{#with processor}}
                    {{> title_wish smoll=true data='processor:'}}
                    {{brand}}, {{model}}, {{speed}}, core: {{cores}}, {{cache}}
                    {{/with}}
                </div>
            </li>

            <li class="my-2">
                <div>
                    {{#with memory}}
                    {{> title_wish smoll=true data='memory:'}}
                    {{type}}, {{size}}, {{speed}}
                    {{/with}}
                </div>
            </li>

            <li class="my-2">
                <div>
                    {{#with storage}}
                    {{> title_wish smoll=true data='storage:'}}
                    {{type}}, {{size}}
                    {{/with}}
                </div>
            </li>

            <li class="my-2">
                <div>
                    {{#with display}}
                    {{> title_wish smoll=true data='display:'}}
                    {{size}}, {{resolution}}, {{technology}}, {{color_space}}, {{brightness}}, {{refresh_rate}},
                    {{/with}}
                </div>
            </li>

            <li class="my-2">
                <div>
                    {{#with graphics}}
                    {{> title_wish smoll=true data='graphics:'}}
                    {{brand}}, {{model}}, {{memory}}
                    {{/with}}
                </div>
            </li>

            <li>
                <div>

                    {{> title_wish smoll=true data='ports:'}}
                    <ul>
                        {{#with ports.[0]}}
                        <li>
                            <div class="mb-2 mt-3"><u>Port 1:</u></div>
                            <div class="">Type:{{type}},</div>
                            <div class="">Count{{count}},</div>
                            Features:
                            {{#each features}}
                            {{this}},
                            {{/each}}
                        </li>
                        {{/with}}

                        {{#with ports.[1]}}
                        <li>
                            <div class="mb-2 mt-3"><u>Port 2:</u></div>
                            <div class="">Type:{{type}},</div>
                            <div class="">Count{{count}}, </div>
                        </li>
                        {{/with}}
                    </ul>
                </div>
            </li>

            <li class="my-2">
                <div>
                    {{#with battery}}
                    {{> title_wish smoll=true data='battery:'}}
                    {{type}}, {{capacity}}, {{life}}
                    {{/with}}
                </div>
            </li>

            <li class="my-2">
                <div>
                    {{> title_wish smoll=true data='weight:'}}
                    {{weight}}
                </div>
            </li>

            <li>
                <div>
                    {{#with dimensions}}
                    {{> title_wish smoll=true data='dimensions:'}}
                    {{height}}, {{width}}, {{depth}}
                    {{/with}}
                </div>
            </li>

            <li class="my-2">
                <div>
                    {{> title_wish smoll=true data='operating_system:'}}
                    {{operating_system}}
                </div>
            </li>

            <li class="my-2">
                <div>

                    {{> title_wish smoll=true data='accessories:'}}
                    <ul>
                        {{#each accessories}}
                        <li>
                            <div class="my-2"><u>Name:</u> {{name}}</div>
                            <div><u>Price:</u> {{price}}</div>
                        </li>

                        {{/each}}
                    </ul>
                </div>
            </li>
            {{/with}}
        </ul>
    </div>

</main>