<div>
    <main>
        {{#with program.excursion}}
        <section>
            <h1>{{name}}</h1>
            {{#with location}}
            <div>
                <em>{{city}}</em>
                <br>
                <em>{{country}}</em>
                {{/with}}
                <br>
                <em>{{date}}</em>
            </div>
            <hr>
            <ul>
                {{#with program.[0]}}
                <li>{{> title data=name big=true}}
                    <p><b>Type:</b> {{type}}</p>
                    <b>Duration:</b> {{duration}} hours
                    <br>
                    <br>

                    <div>
                        {{#with details.museum}}
                        <b>Museum:</b> {{name}}<br>
                        {{#with location}}
                        <b>Location:</b> {{address}}, {{city}}, {{country}}
                        {{/with}}

                        <p>{{> title_wish data='Exhibits:' smoll=true}}</p>
                        <ul>
                            {{#each exhibits}}
                            <li>
                                {{name}}
                                <br>
                                {{#if artist includeZero=true}} {{artist}}
                                {{else}}
                                {{#unless artist includeZero=true}} <em>(No artist)</em>
                                {{/unless}}
                                {{/if}}
                                <br>
                                {{description}}
                                <br>
                                {{#if audio_guide}} With audio guide :-) {{/if}}
                                <br>
                            </li>
                            <br>
                            {{/each}}
                        </ul>
                        {{/with}}
                    </div>

                    <div>
                        <p>{{> title_wish data='Guide:' smoll=true}}</p>
                        {{> guide guide=details.guide }}
                    </div>
                </li>
                <br>
                {{/with}}
                <hr>
                <br>
                {{#with program.[1]}}
                <li>{{> title data=name big=true}}
                    <p><b>Type:</b> {{type}}</p>
                    <b>Duration:</b> {{duration}} hours
                    <br>
                    <br>
                    <div>
                        {{#with details.venue}}
                        <b>Venue:</b> {{name}}<br>
                        {{#with location}}
                        <b>Location:</b> {{address}}, {{city}}, {{country}}
                        {{/with}}
                        {{/with}}
                        <br>
                        <br>
                        <div>
                            {{> title_wish data='Performers:' smoll=true}}
                            <ul>
                                {{#each details.performers}}
                                <p>
                                    <li><b>{{name}}</b></li> <em>{{type}}</em>
                                </p>
                                {{/each}}
                            </ul>
                        </div>
                        <div>
                            <p>{{> title_wish data='Guide:' smoll=true}}</p>
                            {{> guide guide=details.guide }}
                        </div>
                    </div>
                </li>
                {{/with}}
        </section>
        {{/with}}
    </main>
</div>