<main>
    <div class="row">
        <div class="col-12">
            {{#with program.excursion}}
            <section>
                <h1>{{name}}</h1>
                {{#with location}}
                <div>
                    <div>{{city}}</div>

                    <div>{{country}}</div>
                    {{/with}}

                    <div>{{date}}</div>
                </div>
                <hr>
                <ul>
                    {{#with program.[0]}}
                    <li>{{> title data=name big=true}}
                        <p><b>Type:</b> {{type}}</p>
                        <b>Duration:</b> {{duration}} hours



                        <div>
                            {{#with details.museum}}
                            <b>Museum:</b> {{name}}
                            {{#with location}}
                            <div><b>Location:</b> {{address}}, {{city}}, {{country}}</div>
                            {{/with}}

                            <p>{{> title_wish data='Exhibits:' smoll=true}}</p>
                            <ul>
                                {{#each exhibits}}
                                <li>

                                    <div class="my-3">{{name}}</div>


                                    {{#if artist includeZero=true}} {{artist}}
                                    {{else}}
                                    {{#unless artist includeZero=true}} <div>(No artist)</div>
                                    {{/unless}}
                                    {{/if}}

                                    <div>{{description}}</div>
                                    <div>
                                        {{#if audio_guide}} With audio guide :-) {{/if}}
                                    </div>
                                </li>

                                {{/each}}
                            </ul>
                            {{/with}}
                        </div>

                        <div>
                            <p>{{> title_wish data='Guide:' smoll=true}}</p>
                            {{> guide guide=details.guide }}
                        </div>
                    </li>

                    {{/with}}
                    <hr>

                    {{#with program.[1]}}
                    <li>{{> title data=name big=true}}
                        <p><b>Type:</b> {{type}}</p>
                        <b>Duration:</b> {{duration}} hours


                        <div>
                            {{#with details.venue}}
                            <b>Venue:</b> {{name}}
                            {{#with location}}
                            <div><b>Location:</b> {{address}}, {{city}}, {{country}}</div>
                            {{/with}}
                            {{/with}}


                            <div>
                                <div class="my-2">
                                    {{> title_wish data='Performers:' smoll=true}}
                                </div>
                                <ul>
                                    {{#each details.performers}}
                                    <p>
                                        <li><b>{{name}}</b></li>
                                    <div>{{type}}</div>
                                    </p>
                                    {{/each}}
                                </ul>
                            </div>

                            <div>
                                <p>{{> title_wish data='Guide:' smoll=true}}</p>
                                {{> guide guide=details.guide }}
                            </div>
                        </div>
                    </li>
                    {{/with}}
            </section>
            {{/with}}
        </div>
    </div>
</main>