<main>
    <div>
        <ol>
            <h1>Languages</h1>
            {{#each web.languages}}
            <li>
                <strong>{{name}}</strong> - {{version}}
            </li>
            <em>{{description}}</em>

            <div class="my-3">
                <ul>
                    <div class="my-2">
                        {{#with elements}}
                        {{> title_wish data='Elements:' smoll=true}}
                        {{/with}}
                    </div>

                    {{#each elements}}
                    <li class="mb-3"><b>{{name}}</b> - <em>{{description}}</em></li>

                    <ul class="my-1">
                        {{#with attributes}}
                        {{> title_wish data='Attributes:' smoll=false}}
                        {{/with}}

                        {{#each attributes}}
                        <li><b>{{name}}</b> - <em>{{description}}</em></li>
                        {{/each}}

                    </ul>
                    {{/each}}

                    {{#with properties}}
                    {{> title_wish data='Properties:' smoll=false}}
                    {{/with}}

                    {{#each properties}}
                    <li class="mb-3"><b>{{name}}</b> - <em>{{description}}</em><br>
                        <ul>
                            {{#with values}}
                            {{> title_wish data='Values:' smoll=false}}
                            {{/with}}
                            {{#each values}}
                            <li>{{value}} - {{description}}</li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}



                    <div class="mt-2">
                        {{#with functions}}
                        {{> title_wish data='Functions:' smoll=false}}
                        {{/with}}

                        {{#each functions}}
                        <li class="mb-3"><b>{{name}}</b> - <em>{{description}}</em>

                            <ul>
                                {{#with parameters}}
                                {{> title_wish data='Parameters' smoll=false}}
                                {{/with}}
                                {{> wish1 list1=parameters}}
                            </ul>
                        </li>

                        {{/each}}
                    </div>
                </ul>
                <br>
            </div>
            {{/each}}
        </ol>
    </div>
</main>